<main class='container'>

<header class="row">
  <div class="row">
    <div class="col">
      <h1>Hello World</h1>
      <app-wk-gen-banner companyName="Wolters Kluwer"></app-wk-gen-banner>
    </div>
  </div>
</header>

<div class="row">
  <div class="col">
    <nav>
      <ul class="list-inline">
        <li [ngClass]="pickButtonColor('payees')" class="btn list-inline-item" (click)="handleViewSwitch('payees')">Payees</li>
        <li [ngClass]="pickButtonColor('tx')" class ="btn btn-primary list-inline-item" (click)="handleViewSwitch('tx')">Transactions</li >
      </ul>
    </nav>
  </div>
</div>

<section class ="row">
  <div class="row">
    <div class="col">
      <payees-manager *ngIf='views.payees'></payees-manager>
      <tx-manager *ngIf='views.tx'></tx-manager>
    </div>
  </div>
</section>
</main>
