<form>
    <div class="form-group">
        <label>Payee Name</label>
        <input type="text"
        class="form-control" 
        name="payee-name" 
        [(ngModel)]="criteria.payeeName" 
        (ngModelChange)="handleFilter()">
      </div>
  <div class="form-group">
    <label>Amount Exact
    </label>
    <input type="number" 
    class="form-control" 
    name="amount-exact" 
    [disabled]="getDisabled('amountExact')"
    [(ngModel)]="criteria.amountExact" 
    (ngModelChange)="handleFilter()">
  </div>
  <div class="form-group">
    <label>Amount Low
    </label>
    <input type="number" 
    class="form-control" 
    name="amount-low" 
    [disabled]="getDisabled('amountLow')"
    [(ngModel)]="criteria.amountLow" 
    (ngModelChange)="handleFilter()">
  </div>
  <div class="form-group">
    <label>Amount High
    </label>
    <input type="number" 
    class="form-control" 
    name="amount-high" 
    [disabled]="getDisabled('amountHigh')"
    [(ngModel)]="criteria.amountHigh" 
    (ngModelChange)="handleFilter()">
  </div>
  </form>
