
<P> there are {{ transactions?.length }} transactions</P>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Payee</th>
      <th>Cateogry</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tx of transactions">
      <td>{{ tx.payee.payeeName.toString().toUpperCase() }}</td>
      <td>{{ tx.category.categoryName.toUpperCase() }}</td>
      <td>{{ tx.amount.toPrecision(9) }}</td>
    </tr>
  </tbody>
</table>


<ng-template #errorBlock>
    <tbody>
      <tr>
        <td colspan="4">No Records Found</td>
      </tr>
    </tbody>
    </ng-template>